.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecdffd;
  color: #ecdffd;
}

.login-box {
  background-color: #9a81b9;
  padding: 30px;
  border-radius: 35px;
  box-shadow: 0 0 20px #9284aa;
  width: 380px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* 🔁 this creates vertical spacing between elements */
}


.login-box h2 {
  margin-bottom: 10px;
  text-align: left;
  font-size: 26px;
  color: #e5ddf8;
  text-shadow: 0 0 6px #a994e1;
}

.login-box form input {
  display: block;
  width: 290px;
  padding: 15px;
  margin: 15px 0;
  border: none;
  border-radius: 8px;
  background-color: #5a4386;
  color: #fff;
  font-size: 15px;
}

.login-box form input::placeholder {
  color: #d7cbf9;
}

.login-box form button {
  width: 100%;
  padding: 12px;
  background-color: #513c7a;
  color: #d7cbf9;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px #5c4883;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-box form button:hover {
  background-color: #e09d49;
  transform: scale(1.05);
}

.signup-link {
  margin-top: 16px;
  font-size: 14px;
  color: #e7dcfd;
}
.signup-link a {
  color: #fbb967;
  text-decoration: none;
}
.signup-link a:hover {
  text-decoration: underline;
}
