.meditation-options-page {
  min-height: 81vh;
  background-image: url('../assets/meditation-bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 100px520px;
  flex-wrap: wrap;
}
