
.meditation-room {
  height: 100vh;
  background-color: #0a001a;
  color: #fbb967;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.back-btn-small {
  position: fixed;
  bottom: 20px;
  left: 20px; 
  font-size: 12px;
  padding: 6px 12px;
  background-color: #2c1b3c;
  color: #fbb967;
  border-radius: 20px;
  text-decoration: none;
  opacity: 0.7;
  transition: all 0.3s ease;
  z-index: 10;
}

.back-btn-small:hover {
  opacity: 1;
  transform: scale(1.05);
  background-color: #3c256a;
}
