.mindplay-section {
  min-height: 300px;
  padding: 150px 40px;
  background-color: #cab0ff;
  color: #3f1262;
  position: relative;
}


.mindplay-section h2,
.mindplay-section p {
  position: absolute;
  right: 40px;
  text-align: right;
}

.mindplay-section h2 {
  top: 40px;
  font-size: 70px;
  margin-bottom: 10px;
  text-shadow: 0 0 6px #a685f2;
}

.mindplay-section {
  min-height: 300px;
  padding: 60px 40px;
  background-color: #cab0ff;
  color: #3f1262;
  position: relative;
}


.revealed {
  font-size: 58px;
  font-weight: bolder;
  color: #3f1262;
  text-shadow: 0 0 6px #a685f2;
}

.encrypted {
  font-size: 55px;
  font-weight: bolder;
  color: #a992db;
  opacity: 0.5;
}

.vertical-decrypt {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: 'Anton', sans-serif;
  font-size: 90px;           /* 🔥 Make it BIG */
  font-weight: 1200;          /* extra bold */
  line-height: 1.5;
  color: #3f1262;
  text-shadow: 0 0 8px #a685f2;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
  height: 100vh;             /* take up full vertical space */
  display: flex;
  align-items: center;
  justify-content: center;
}
