.signup-container {
background: linear-gradient(to bottom right,  #ecdffd);
  color: #513c7a;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 1em;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  background-color: #5a4386;
  color: #d7cbf9;
}

input::placeholder {
  color: #d7cbf9;
}

.final-login-text {
  margin-top: 1rem;
  color: #e1d3fc; /* soft lilac or your theme color */
  font-size: 16px;
  text-align: center;
}

.final-login-text a {
  color: #fbb967; /* glowing peach link */
  text-decoration: none;
  font-weight: 500;
}

.final-login-text a:hover {
  text-decoration: underline;
  color: #ffdca3;
}


